
Flask
flask-mongoengine
Flask-Script
Flask-Cors
blinker

bs4
html2text
simplejson
pytest

scipy
numpy
pandas

spacy

scikit-learn
cloudpickle
h5py
tensorflow

parsedatetime
python-crfsuite
python-dateutil
requests

gunicorn
gevent